body{
    background:darkslategrey;
  }
  .container{
    max-width: 400px;
  }

a {
    color: #0060B6;
    text-decoration: none;
}

a:hover 
{
     color:#00A0C6; 
     text-decoration:none; 
     cursor:pointer;  
}
